/**********************************************************************/
/* General                                                            */
/**********************************************************************/

body {
    background-image: url("assets/background.jpg");
    background-attachment: fixed;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-color: Black;
    color: WhiteSmoke;
    font-size: 1.5rem; /* 16pt */
    font-style: normal;
    font-family: "Garamond";
}

p {
    text-align: justify;
    margin-bottom: 1rem;
}

a {
    color: Crimson;
    text-decoration: none;
}

a:link {
    color: Crimson;
    text-decoration: none;
}

a:visited {
    color: Crimson;
    text-decoration: none;
}

a:hover {
    color: Red;
    text-decoration: underline solid red 1px;
}

a:active {
    color: Red;
    text-decoration: underline double red 1px;
}

/**********************************************************************/
/* Text organization                                                  */
/**********************************************************************/

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.title {
    font-size: 3rem;
    font-style: normal;
    font-weight: bolder;
    text-align: center;
    margin-bottom: -1rem;
}

.subtitle {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: normal;
    text-align: center;
    margin-bottom: 1rem;
}

.content {
    background: rgba(35, 35, 35, 0.95);
    /* background-color: #333333; */
    background-blend-mode: darken;
    padding: 30px 60px 30px 60px;
    border-radius: 30px;
    margin: auto;
    width: 25em;
}

.iconlink {
    color: rgba(0, 0, 0, 0);
    text-decoration: none;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.iconlink:hover {
    text-decoration: none;
}

.iconlink:active {
    text-decoration: none;
}

/**********************************************************************/
/* Images organization                                                */
/**********************************************************************/

.avatar {
    background-image: url("assets/avatar.jpg");
    background-size: contain;
    border-radius: 64px;
    height: 128px;
    width: 128px;
    margin-top: 1rem;
    margin-bottom: -1.5rem;
    margin-right: auto;
    margin-left: auto;
}

.urlicons {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2rem;
}

.svgicon {
    fill: WhiteSmoke;
    height: 32px;
    width: 32px;
}
